@page
@model ShopOnline.Pages.Admin.ReviewModel
@{
    Layout = "/Pages/admin/Shared/_Layout.cshtml";
    ViewData["Title"] = "Review";
}
<div class="container-fluid">
    <div class="card w-100">
        <div class="card-header">
            <div class="d-sm-flex d-block align-items-center justify-content-between">
                <div class="mb-sm-0">
                    <h3 class="card-title fw-semibold">Review <small class="text-muted">list</small></h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="example" class="table table-bordered table-hover pt-3">
                <thead class="table-primary">
                    <tr>
                        <th class="text-center" style="width: 20px">#</th>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Comment</th>
                        <th>CreatedDate</th>
                        <th style="width: 20px"></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @if(Model.Reviews != null && Model.Reviews.Any())
                    {
                        foreach (var rev in Model.Reviews)
                        {
                            <tr data-id="@rev.REV_ID">
                                <td class="text-center">@rev.REV_ID</td>
                                <td>@rev.CreatedBy</td>
                                <td>@rev.Product?.Title</td>
                                <td>@rev.Rate</td>
                                <td>@rev.Comment</td>
                                <td>@rev.CreatedDate</td>
                                <td class="text-nowrap">
                                    <button type="button" class="link-danger" onclick="Delete(@rev.REV_ID)"><i class="ti ti-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="7">Have no data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <form method="post">
        @Html.AntiForgeryToken()
    </form>
</div>
@section Delete {
    <div id="Delete" class="fixed-top top-100 container">
        <div class="row justify-content-center">
            <div class="col-auto p-0 pb-3 shadow-lg bg-light text-center rounded-bottom d-flex flex-column">
                <p class="mb-4 bg-danger text-white p-3 rounded-top">
                    Are you sure to delete ?
                </p>
                <input id="inputData" value="Review" hidden />
                <input name="hidDlt" id="inputDlt" value="" hidden />
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button id="btnDlt" type="button" class="btn btn-danger me-2">Yes</button>
                        <button type="button" onclick="Delete(null)" class="btn btn-primary">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}